@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Lobster&family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Rubik+Moonrocks&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header__tasks_delete img {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 20px;
  padding: 5px;
  box-shadow: 0 0 5px 1px #34142d;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.header__tasks_delete img:hover {
  box-shadow: 0 0 5px 2px #34142d;
  cursor: pointer;
}

.header__tasks_delete {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.header {
  flex-grow: 0.5;
  background-color: #373740;
  box-shadow: 0 0 1px 1px black;
}

.footer {
  flex-grow: 1;
  background-color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  background-position-x: center;
  align-items: center;
  background-image: url(https://i.ytimg.com/vi/bFz4YmzEjug/maxresdefault.jpg);
  object-fit: contain;
}



.add-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(1px);
}

.checkBox__active p {
  text-decoration: line-through;
  filter: blur(1px);
}

.add-block input {
  height: 30px;
  width: 150px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #333333;
  background-color: #383525;
}

.add-block button {
  height: 25px;
  width: 55px;
  background-color: white;
  border-radius: 12.5px;
  border: 3px #34142d solid;
  font-style: italic;
  font-weight: 900;
  box-shadow: 0 0 5px 1px white;
}

.add-block button:hover {
  background-color: #34142d;
  color: #f2f2f2;
  cursor: pointer;
}

.container_error {
   filter: blur(5px);
   z-index: 1;
}

.error {
  position:absolute;
  margin-top: 40%;
  margin-left: 40%;
  color: red;
  background-color: #f2f2f2;
  border: 2px #34142d solid;
  padding: 10px;
  z-index: 2;
}

.header__tasks {
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  min-width: 210px;
}

.header__tasks div {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 30px;
}

.header__task {
  margin-left: -20px;
  border: 2px #34142d solid;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 3px 1px #34142d;
}


.header__tasks div p {
  margin-left: 10px;
  font-style: italic;
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-right: 20px;
  white-space: nowrap;
}

.header__tasks div input:first-child {
  width: 20px;
  height: 30px;
}

.header__tasks div:first-child {
  justify-content: flex-start;
}

.header__task div:last-child {
  justify-content: flex-end;
}

.header__task div:last-child img {
  padding-right: 5px;
  padding-left: 5px;
  width: 25px;
  height: 25px;
  border-radius: 10px;
}

.header__task div:last-child img:hover {
  background-color: #34142d;
  color: #34142d;
  cursor: pointer;
}

.active_button {
  background: #34142d;
}


.lists_with_checkBox__input_text {
  width: 150px;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

;

.header__task {
  border-radius: 50%;
  border: 2px #34142d solid;
}

;